<div class="m-card-login">
    <div class="m-header-login">
        <h1>{{ titulo }}</h1>
    </div>
    <div class="m-container-inputs">
        <div class="m-email">
            <img class="m-svg" src="assets/img/icons/login.svg" alt="">
            <input type="text" class="m-input-login" placeholder="Nickname / Email">
        </div>
        <div class="m-password">
            <img class="m-svg" src="assets/img/icons/password.svg" alt="">
            <input type="password" class="m-input-login" placeholder="Password">
        </div>
        <p class="m-notice">Forgot your password?</p>
    </div>
    <div class="m-container-buttons">
        <div class="m-button m-button-pri">
            Sign In
        </div>
        <div class="m-button m-button-err">
            Sign Up
        </div>
    </div>
</div>
