.m-card-login {
    padding: 5px;
    height: auto;
    width: 500px;
    display: table;
    margin: 60px auto;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.m-header-login {
    color: #eee;
    padding: 16px;
    text-align: center;
    background: #1976d2;
    border-radius: 4px 4px 0 0;
}

.m-container-inputs {
    padding: 16px;
}

.m-email {
    display: flex;
    align-items: center;
}
.m-password {
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #c4c4c4a3;
    transition: 1s;
}

input:hover, input:focus, input:active {
    border: 1px solid #1976d2;
    transform: translate(-10px -1px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.m-input-login {
    transform: translateX(-10px);
}

.m-svg {
    width: 60px;
    z-index: 1;
}

.m-container-inputs > div {
    margin: 50px 0;
}

.m-notice {
    color: #888888;
    cursor: pointer;
    text-align: center;
}

.m-notice:hover {
    text-decoration: underline;
}

.m-container-buttons {
    display: flex;
    padding: 16px;
    align-items: center;
}

.m-button {
    color: #eee;
    width: 150px;
    height: 30px;
    margin: 0 50px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    background: #888888;
    border-radius: 15px;
    transition: 1s ease-out;
}

.m-button:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.75);
}

.m-button-pri { background: #1976d2; }
.m-button-scs { background: #1976d2; }
.m-button-err { background: #c3002f; }
.m-button-warn { background: #fb8c00; }
